body{
    padding: 0;
    margin: 0;
    background-color: lightcyan;
}
.container
{
    color: #fff;
    border: 5px inset lightgray;
    width: 400px;
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
    background-color:darkslateblue;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 15%;
    box-shadow: 5px 5px 10px black;
    padding-top: 12px;
    font-weight: 700;
}
h1
{
    font-size: 30px;
}

p
{
    padding: 10px;
    font-size: 20px;
}

i{
    font-size: 40px;
    color:brown;
}